
creds/

raw_data/

terraform/.terraform/

terraform/.terraform.lock.hcl

*.tfstate

airflow/logs/

*.backup

airflow/init_airflow-unused.sh

venv/

airflow/dags/__pycache__/

tmp/

gcloud_cli_sandbox/

dbt/logs/
dbt/target/
dbt/dbt_packages/